<tr id="<%- pokemon.pid %>" class="bg-dark text-white">
    <td>
        <%= require('./pokemon-cell.ejs')({ pokemon }) %>
    </td>
    <td class="location"><div><%- pokemon.locationMetName %></div></td>
    <%= require('./traits-cell.ejs')({ pokemon }) %>
    <td>
        <% if (linkedPokemon) { %>
            <%= require('./pokemon-cell.ejs')({ pokemon: linkedPokemon }) %>
        <% } else { %>
            <div>
                <span class="species">The soulless nothingness of the void</span>
            </div>
        <% } %>
    </td>
    <td colspan="2">
        <div>
            <button type="button" data-pid="<%- pokemon.pid %>" class="btn-revive btn btn-outline-light btn-sm">Revive</button>
        </div>
    </td>
</tr>