<tr id="<%- pokemon.pid %>">
    <td>
        <%= require('./pokemon-cell.ejs')({ pokemon }) %>
    </td>
    <td class="location"><div><%- pokemon.locationMetName %></div></td>
    <%= require('./traits-cell.ejs')({ pokemon }) %>
    <% if (linkedPokemon) { %>
        <td>
            <%= require('./pokemon-cell.ejs')({ pokemon: linkedPokemon }) %>
        </td>
        <td class="width-fixed"></td>
    <% } else { %>
        <td colspan="2">
            <div class="text-void">
                <span class="species w-100">The soulless nothingness of the void</span>
            </div>
        </div>
    <% } %>

    <td class="width-fixed">
        <div>
            <% if (useReviveButton) { %>
                <button type="button" data-pid="<%- pokemon.pid %>" class="btn-revive btn btn-outline-secondary btn-sm">
                    Revive
                </button>
            <% } else { %>
                <div class="animate-corpse rounded my-auto">
                    <div class="bg-img"></div>
                    <button type="button" data-pid="<%- pokemon.pid %>" class="btn-revive animate-corpse btn btn-outline-reanimate btn-sm">
                        Animate Corpse
                    </button>
                </div>
            <% } %>
        </div>
    </td>
</tr>