<% let soulLinkEnabled = config.nuzlocke && config.nuzlocke.enabled && config.nuzlocke.soulLink && config.nuzlocke.soulLink.enabled; %>
<% let swap = soulLinkEnabled && config.style.soulLinkSwap; %>
<div class="slot <%- typeof slot !== 'undefined' ? `slot-${slot}` : '' %>">
    <div class="top">
        <div class="text-wrapper">
            <% for (let element of config.layout.topElements) { %>
                <div class="<%- element %>"></div>
            <% } %>
        </div>
    </div>
    <div class="img-row">
        <div class="side-wrapper left">
            <div class="text-wrapper">
                <% for (let element of config.layout.leftElements) { %>
                    <div class="<%- element %>"></div>
                <% } %>
            </div>
        </div>
        <div>
            <%= require('./slotImageWrapper.ejs')({ type: swap ? 'soul-linked' : 'main', config }) %>
            <% if (config.nuzlocke.soulLink.enabled) { %>
                <%= require('./slotImageWrapper.ejs')({ type: swap ? 'main' : 'soul-linked', config }) %>
            <% } %>
        </div>
        <div class="side-wrapper right">
            <div class="text-wrapper">
                <% for (let element of config.layout.rightElements) { %>
                    <div class="<%- element %>"></div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="text-wrapper">
            <% for (let element of config.layout.bottomElements) { %>
                <div class="<%- element %>"></div>
            <% } %>
        </div>
    </div>
</div>